*{

box-sizing: border-box;
margin: 0;
padding: 0;

}
body{
    display: grid;
    grid-template-rows: 4fr;
 
    
    
    /* 1   FRACTION 3 GÅNGER*/
    gap: 10rem;
    height: 100vh;
    border: 1px solid black;
    grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
    padding: 1px;

}
header, main, article, footer{
    min-height: 100%;
    background-color: rgb(142, 142, 218);
    border-radius: 20px;


}
header{
    grid-area: header;
}
main{
    grid-area: main;
}

article{

    grid-area: article ;
}
footer{
    grid-area: footer;
}


